version: '3.4'
services:
  nethermind-gno.avado.dnp.dappnode.eth:
    image: 'nethermind-gno.avado.dnp.dappnode.eth:0.0.56'
    build:
      context: ./build
      args:
        VERSION: 1.36.0
    volumes:
      - 'nethermind_db:/nethermind/nethermind_db'
      - 'logs:/nethermind/logs'
      - 'keystore:/nethermind/keystore'
    ports:
      - '30305:30305'
      - '30305:30305/udp'
    restart: always
    environment:
      - NETWORK=gnosis
      - EXTRA_OPTS=
volumes:
  data: {}
  nethermind_db: {}
  logs: {}
  keystore: {}
